---
import Footer from "../components/Footer.astro";
import "../global.css";
import { NAME, SEARCH_NAME, SEARCH_SUB_TITLE } from "../lib/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={SEARCH_NAME} />
    <meta name="description" content={SEARCH_SUB_TITLE} />
    <meta
      name="google-site-verification"
      content="XUrFZKFUgB4Nb24wFTtNwQbEJcuEk0fB62FLdayUZf8"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/katex.min.css"
      rel="stylesheet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{NAME}</title>
  </head>
  <body>
    <div
      class="prose prose-blue prose-code:rounded-lg prose-code:bg-zinc-100 prose-code:p-1 prose-img:mx-auto prose-img:max-h-96 prose-img:w-auto mx-auto mt-5 max-w-5xl px-5 leading-4"
    >
      <slot />
    </div>
    <Footer />
  </body>
</html>
